In [49]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries import offsets

In [2]:
someday = dt.date(2021, 8, 4)

In [3]:
someday.year

2021

In [4]:
someday.month

8

In [12]:
someday.day

4

In [18]:
str(someday)

'2021-08-04'

In [17]:
str(dt.datetime(2021, 8, 4, 8, 30, 57))

'2021-08-04 08:30:57'

In [19]:
sometime = dt.datetime(2021, 8, 4, 8, 30, 57)

In [20]:
sometime.year

2021

In [21]:
sometime.month

8

In [22]:
sometime.day

4

In [23]:
sometime.hour

8

In [24]:
sometime.minute

30

In [25]:
sometime.second

57

In [33]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [34]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [35]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

In [40]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [42]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [43]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

In [105]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [49]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th 1996"])
times

0       2015-01-03
1       2014/02/08
2             2016
3    July 4th 1996
dtype: object

In [50]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [53]:
dates = pd.Series(["July 4th 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th 1996
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [55]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [56]:
pd.to_datetime([1348720105, 1349806505, 1349892905, 1350065705], unit = "s")

DatetimeIndex(['2012-09-27 04:28:25', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [61]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [62]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [63]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [75]:
pd.date_range(start = "2016-01-01", end = "2050-12-31", freq = "AS")

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [86]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [96]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [98]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [107]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [118]:
s.dt.day
s.dt.month
s.dt.day_of_week
s.dt.weekday_name

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [114]:
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [5]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956453
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809435

In [10]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [11]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956453
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809435

In [15]:
stocks.loc["2010-01-04"]
stocks.loc[pd.Timestamp("2010-01-04")]

stocks.iloc[0]
stocks.iloc[500]

High         2.614000e+01
Low          2.593000e+01
Open         2.596000e+01
Close        2.604000e+01
Volume       2.128720e+07
Adj Close    2.111554e+01
Name: 2011-12-27 00:00:00, dtype: float64

In [17]:
#stocks.iloc[10000]

In [18]:
stocks.loc[[pd.Timestamp("2010-01-04"), pd.Timestamp("2010-01-05")]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.956453

In [19]:
stocks.iloc[[10,15,30]]

             High        Low       Open  Close      Volume  Adj Close
Date
2010-01-19  31.24  30.680000  30.750000  31.10  46575700.0  24.064785
2010-01-26  29.85  29.090000  29.200001  29.50  66639900.0  22.826723
2010-02-17  28.65  28.360001  28.530001  28.59  45882900.0  22.226032

In [20]:
stocks.loc["2013-10-01":"2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.629833
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.919714
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.868563
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.885609
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.391111

In [21]:
stocks.truncate(before = "2013-10-01", after = "2013-10-07")

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.629833
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.919714
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.868563
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.885609
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.391111

In [22]:
stocks.iloc[1000:1005]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.458485
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.853649
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  32.162895
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  32.034042
2013-12-30  37.380001  36.900002  37.220001  37.290001  16290500.0  32.034042

In [24]:
birthdays = pd.date_range(start = "1996-08-04", end = "2021-08-04", freq = pd.DateOffset(years = 1))

In [28]:
birthday_stocks = stocks.index.isin(birthdays)

In [29]:
stocks[birthday_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-08-04,26.240000,25.440001,26.150000,25.730000,78531900.0,20.092905
2011-08-04,26.870001,25.930000,26.530001,25.940001,92949500.0,20.746298
2014-08-04,43.470001,42.810001,42.970001,43.369999,34277400.0,37.801262
2015-08-04,47.709999,46.680000,46.750000,47.540001,33403900.0,42.530823
2016-08-04,57.520000,56.669998,56.799999,57.389999,26587700.0,52.769974
2017-08-04,73.040001,72.239998,72.400002,72.680000,22579000.0,68.500748
2020-08-04,214.770004,210.309998,214.169998,213.289993,49280100.0,210.840973

In [5]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956453
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809435

In [9]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [10]:
someday.month

12

In [11]:
someday.week

52

In [12]:
someday.is_month_start

False

In [13]:
someday.is_month_end

False

In [14]:
someday.is_quarter_start

False

In [15]:
someday.is_quarter_end

False

In [16]:
someday.day

27

In [18]:
someday.month_name()

'December'

In [19]:
someday.day_name()

'Tuesday'

In [20]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [21]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2769)

In [22]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [23]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.948717
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.956453
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.809435
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.561821
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.724321
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,221.302490
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,223.498138
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,222.693390
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,220.239456
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,220.974640

In [26]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [27]:
stocks

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.948717
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.956453
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.809435
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.561821
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.724321
...,...,...,...,...,...,...,...,...
2020-12-24,Thursday,False,223.610001,221.199997,221.419998,222.750000,10550600.0,221.302490
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,223.498138
2020-12-29,Tuesday,False,227.179993,223.580002,226.309998,224.149994,17403200.0,222.693390
2020-12-30,Wednesday,False,225.630005,221.470001,225.229996,221.679993,20272300.0,220.239456
2020-12-31,Thursday,False,223.000000,219.679993,221.699997,222.419998,20942100.0,220.974640

In [30]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,21.983301
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.560316
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.669157
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.217855
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.085962
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,180.730713
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,202.349609
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25725500.0,225.203552
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,210.528198
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30904500.0,214.805008

In [31]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956453
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809435

In [33]:
stocks["High"] + 5

Date
2010-01-04     36.100000
2010-01-05     36.100000
2010-01-06     36.080000
2010-01-07     35.700001
2010-01-08     35.879999
                 ...
2020-12-24    228.610001
2020-12-28    231.029999
2020-12-29    232.179993
2020-12-30    230.630005
2020-12-31    228.000000
Name: High, Length: 2769, dtype: float64

In [37]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-12-22', '2020-12-23', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2021-01-02', '2021-01-03',
               '2021-01-04', '2021-01-05'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [38]:
stocks.index - pd.DateOffset(days = 5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-12', '2020-12-13', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-19', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [39]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2010-01-18', '2010-01-19', '2010-01-20', '2010-01-21',
               '2010-01-22', '2010-01-25', '2010-01-26', '2010-01-27',
               '2010-01-28', '2010-01-29',
               ...
               '2020-12-31', '2021-01-01', '2021-01-04', '2021-01-05',
               '2021-01-06', '2021-01-07', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [40]:
stocks.index - pd.DateOffset(weeks = 3)

DatetimeIndex(['2009-12-14', '2009-12-15', '2009-12-16', '2009-12-17',
               '2009-12-18', '2009-12-21', '2009-12-22', '2009-12-23',
               '2009-12-24', '2009-12-25',
               ...
               '2020-11-26', '2020-11-27', '2020-11-30', '2020-12-01',
               '2020-12-02', '2020-12-03', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-10'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [41]:
stocks.index + pd.DateOffset(years = 1)

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-08', '2011-01-11', '2011-01-12', '2011-01-13',
               '2011-01-14', '2011-01-15',
               ...
               '2021-12-17', '2021-12-18', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-24', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [42]:
stocks.index + pd.DateOffset(years = 1, months = 4, days = 25, hours = 13, minutes = 24, seconds = 26)

DatetimeIndex(['2011-05-29 13:24:26', '2011-05-30 13:24:26',
               '2011-05-31 13:24:26', '2011-06-01 13:24:26',
               '2011-06-02 13:24:26', '2011-06-05 13:24:26',
               '2011-06-06 13:24:26', '2011-06-07 13:24:26',
               '2011-06-08 13:24:26', '2011-06-09 13:24:26',
               ...
               '2022-05-12 13:24:26', '2022-05-13 13:24:26',
               '2022-05-16 13:24:26', '2022-05-17 13:24:26',
               '2022-05-18 13:24:26', '2022-05-19 13:24:26',
               '2022-05-23 13:24:26', '2022-05-24 13:24:26',
               '2022-05-25 13:24:26', '2022-05-25 13:24:26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [43]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956453
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809435

In [45]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [46]:
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,222.693390
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,220.239456
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.974640

In [47]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [48]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [50]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [52]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [54]:
stocks.index - offsets.YearEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [55]:
stocks.index + offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [57]:
time_a = pd.Timestamp("2020-03-31 04:35:16PM")
time_b = pd.Timestamp("2020-03-20 02:15:49AM")

time_a - time_b

Timedelta('11 days 14:19:27')

In [58]:
time_b - time_a

Timedelta('-12 days +09:40:33')

In [61]:
time_a + pd.Timedelta(days = 3)

Timestamp('2020-04-03 16:35:16')

In [63]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45, seconds = 20)

Timedelta('59 days 12:45:20')

In [64]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [65]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

In [66]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

In [71]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [74]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [75]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [77]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [78]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [79]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [83]:
mask = shipping["Delivery Time"] > "2000 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
10  1992-02-23    1998-12-30     2502 days    2005-11-05
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
32  1990-01-20    1998-07-24     3107 days    2007-01-25
..         ...           ...           ...           ...
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
984 1991-07-25    1999-02-09     2756 days    2006-08-27
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06

[113 rows x 4 columns]

In [84]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')